In [12]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [13]:
data = pd.read_csv("./Dataset/TSLA.csv")

In [14]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-29,19.000000,25.000000,17.540001,23.889999,23.889999,18766300
1,2010-06-30,25.790001,30.420000,23.299999,23.830000,23.830000,17187100
2,2010-07-01,25.000000,25.920000,20.270000,21.959999,21.959999,8218800
3,2010-07-02,23.000000,23.100000,18.709999,19.200001,19.200001,5139800
4,2010-07-06,20.000000,20.000000,15.830000,16.110001,16.110001,6866900
...,...,...,...,...,...,...,...
2411,2020-01-28,568.489990,576.809998,558.080017,566.900024,566.900024,11788500
2412,2020-01-29,575.690002,589.799988,567.429993,580.989990,580.989990,17801500
2413,2020-01-30,632.419983,650.880005,618.000000,640.809998,640.809998,29005700
2414,2020-01-31,640.000000,653.000000,632.520020,650.570007,650.570007,15719300
2415,2020-02-03,673.690002,786.140015,673.520020,780.000000,780.000000,47065000

In [17]:
#We dont use Date variable since the data type (datetime) and the irrelevance
subset = ['Open','High','Low','Adj Close','Volume']
data = data[subset]
data

            Open        High         Low   Adj Close    Volume
0      19.000000   25.000000   17.540001   23.889999  18766300
1      25.790001   30.420000   23.299999   23.830000  17187100
2      25.000000   25.920000   20.270000   21.959999   8218800
3      23.000000   23.100000   18.709999   19.200001   5139800
4      20.000000   20.000000   15.830000   16.110001   6866900
...          ...         ...         ...         ...       ...
2411  568.489990  576.809998  558.080017  566.900024  11788500
2412  575.690002  589.799988  567.429993  580.989990  17801500
2413  632.419983  650.880005  618.000000  640.809998  29005700
2414  640.000000  653.000000  632.520020  650.570007  15719300
2415  673.690002  786.140015  673.520020  780.000000  47065000

[2416 rows x 5 columns]

In [19]:
#Modelo para predecir variable: Low (precio mÃ¡s bajo)
predictors = ['Open','High','Adj Close','Volume']
outcome = 'Low'

tesla_stocks_lm = LinearRegression()
tesla_stocks_lm.fit(data[predictors],data[outcome])

LinearRegression()

In [20]:
print('Intercept',tesla_stocks_lm.intercept_)
for name, coef in zip(predictors,tesla_stocks_lm.coef_):
    print(name,coef)

Intercept 0.22589504641675262
Open 0.6650265189442175
High -0.3116612445865728
Adj Close 0.6389909942511034
Volume -2.1723263099460155e-07

In [22]:
fitted = tesla_stocks_lm.predict(data[predictors])

#mean_squared_error
RMSE = np.sqrt(mean_squared_error(data[outcome],fitted))

r2 = r2_score(data[outcome],fitted)

RSE = np.sqrt(np.sum((data[outcome]-fitted)**2)/(data[outcome].size-1-len(predictors)))
print(RMSE)
print(RSE)
print(r2)

1.8780776724114099
1.880024069112053
0.9997415996867629

In [23]:
model = sm.OLS(data[outcome],data[predictors].assign(const=1))

results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Low   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.332e+06
Date:                Thu, 26 May 2022   Prob (F-statistic):               0.00
Time:                        21:03:37   Log-Likelihood:                -4950.8
No. Observations:                2416   AIC:                             9912.
Df Residuals:                    2411   BIC:                             9941.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Open           0.6650      0.011     60.364      0.000       0.643       0.687
High          -0.3117      0.020    -15.406      0.000      -0.351      -0.272
Adj Close      0.6390      0.014     46.860      0.000       0.612       0.666
Volume     -2.172e-07   1.08e-08    -20.200      0.000   -2.38e-07   -1.96e-07
const          0.2259      0.073      3.096      0.002       0.083       0.369
==============================================================================
Omnibus:                      715.044   Durbin-Watson:                   1.718
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7040.928
Skew:                          -1.107   Prob(JB):                         0.00
Kurtosis:                      11.065   Cond. No.                     1.43e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.43e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""